<tr>
    <th scope="row"><%= employee.id%></th>
    <td><%= employee.name%></td>
    <td><%= employee.gender%></td>
    <td><%= employee.email%></td>
    <td><%= employee.age%></td>
    <td><%= employee.contact_no%></td>
    <td>
    <%= link_to 'Edit', edit_employee_path(employee) %> |
    <%= link_to 'Destroy', employee, id:'delete_employee', method: :delete, data: { confirm: 'Are you sure?' }, remote:true %>

    </td>
</tr>